<div class="container">
  <aside class="sidebar" [class.closed]="!isOpen">
    <h2 class="sidebar-title" *ngIf="isOpen">AML Мониторинг</h2>


    <form *ngIf="isOpen" class="sidebar-form">
      <h4>Navigation</h4>

      <label>
        <input
          type="radio"
          name="menu"
          [value]="'load-data'"
          [(ngModel)]="selectedRoute"
          (change)="onRadioChange('load-data')"
        />
        Загрузка данных
      </label>
      <label>
        <input
          type="radio"
          name="menu"
          [value]="'statistics'"
          [(ngModel)]="selectedRoute"
          (change)="onRadioChange('statistics')"
        />
        Статистика
      </label>
      <label>
        <input
          type="radio"
          name="menu"
          [value]="'detailed-analysis'"
          [(ngModel)]="selectedRoute"
          (change)="onRadioChange('detailed-analysis')"
        />
        Детальный анализ
      </label>
      <label>
        <input
          type="radio"
          name="menu"
          [value]="'settings'"
          [(ngModel)]="selectedRoute"
          (change)="onRadioChange('settings')"
        />
        Настройки
      </label>
    </form>
  </aside>

  <button class="toggle-btn" (click)="toggleSidebar()">
    {{ isOpen ? 'Close' : 'Open' }}
  </button>

  <main class="main-content" [class.shifted]="isOpen">
    <router-outlet></router-outlet>
  </main>
</div>
